/* TAG STYLES */
body {
    background: #ffffff;
    border-top: 7px solid #336699;
    font: normal 14px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
	margin: 0;
    padding: 3em 0 0;
}

a, a:visited, a:active {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    color: #336699;
    text-decoration: none;
}

a img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: Georgia, serif;
    font-weight: normal;
}

h2 a, h2 a:visited, h2 a:active {
    text-decoration: none;
}


p, ul, ol, blockquote {
    margin: 0 0 1.5em;
}

ul, ol, blockquote {
    padding: 0 2em;
}

blockquote {
    font-family: Georgia, serif;
    font-style: italic;
}

ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

a img{
    border: 0;
}


/* BASIC LAYOUT */
#contain, #footer-container {
    margin: 0 auto;
    width: 55em;
}

/* SIDEBAR */
#sidebar {
    float: left;
    margin: 0 0 1.5em;
    width: 16em;
}

#sidebar p {
    font-size: .9em;
}

#sidebar h1 {
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5em;
    margin: 0 0 1em;
    padding: 0;
} 

#sidebar h1 a, #sidebar h1 a:visited, #sidebar h1 a:active {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

#sidebar h1 a:hover {
    color: #336699;
}

#sidebar h1 a {
    display: block;
}

#sidebar h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 .25em;
    padding: 0;
    text-transform: uppercase;
}

#sidebar #about {
    margin: 0 0 3em;
}

#sidebar #menu ul,
#sidebar #twitter_div ul,
p#sidebar #other ul {
    list-style: none;
    margin: 0 0 3em;
    padding: 0;
}

#sidebar #twitter_update_list a {
    display: block;
}

#sidebar #other a, #sidebar #other a:visited, #sidebar #other a:active {
    font-size: .9em;
    line-height: 2em;
    padding-left: 0.75em;
}


/* FOOTER */
#footer {
    border-top: 4px solid #336699;
    background: #333333;
    color: #ffffff;
    clear: both;
    margin: 0;
    overflow: auto;
    padding: 0 0.5em;
}

#footer #footer-container {
    margin: 0 auto;
    padding: 0.5em 0;
    width: 55em;
}

#footer a, #footer a:visited, #footer a:active {
    color: #336699;
}

#footer a:hover {
    color: #ffffff;
}

#footer h4 {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 0.75em;
}

#footer #colophon {
    margin-right: 39em;
}

#footer #following {
    float: right;
    width: 35.5em;
}

#footer #following ul {
    list-style: none;
    padding: 0;
}

#footer #following ul li {
    float: left;
    margin: 0 0.5em 0.5em 0;
}


/* PREVIOUS-NEXT LINKS */  
#pagination a, #pagination a:visited, #pagination a:active {
    font-weight: bold;
    text-decoration: none;
}

#pagination #prev {
    margin-right: 2em;
}

#pagination #next {
    margin-left: 2em;
}

/* CONTENT */
#content {
    margin-bottom: 4.5em;
    margin-left: 18.5em;
    min-width: 500px;
}

#content .date {
    border-bottom: 1px solid #336699;
    color: #336699;
    display: block;
    letter-spacing: .1em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

#content h2 {
    font-size: 1.4em;
    line-height: 1.1em;
    margin: .25em 0 .75em;
}

.post-footer {
    color: #999999;
    font-size: .8em;
    text-align: right;
}

.post-footer .notes-link {
	margin-left: 0.5em;
	text-decoration: undelrine;
}

.post-footer .permalink {
    margin-left: 0.5em;
}

.post-footer .reblog {
    font-style: italic;
    margin-left: 1em;
}

.post-footer .tags {
    display: block;
}

.regular, .quote, .link, .photo, .conversation, .video, .audio, .photoset-post {
    margin: 0 0 4.5em;
}

.regular img {
	max-width: 100%;
}

.regular h4 {
    font-size: 1.2em;
    margin-bottom: .5em;
    margin-top: 2.2em;
}

.quote big {
    color: #336699;
    font: bold 4em/0 Georgia, serif;
    padding: 0 .1em;
    vertical-align: -.45em;
}

.quote .words {
    font: bold 1.1em Georgia, serif;
    line-height: 1.5;
}

.quote .source {
    display: block;
    margin-top: .5em;
    padding: 0;
}

.link .link-body, .quote .quote-body {
    margin-bottom: 1.5em;
}

.conversation ul {
    list-style: none;
    padding: 0 1em;
}

.conversation ul li .person {
    color: #336699;
    font-weight: bold;
    margin-right: 1em;
}

/* NOTES */
#notes-container { margin-top: 3em; }
ol.notes { display: block; margin: 0; padding: 0; }
ol.notes li.note { margin: 0 0 10px 0; padding: 0 0 10px 0 }
ol.notes img.avatar { display: none; }

.clear {
    clear: both;
}

#disqus_thread {
	margin: 3em 0;
}

/* CODE */
pre {
    background: #eee top left;
    border-radius: 0.2em;
	border: 1px solid #999;
	overflow: auto;
	resize: horizontal;
    display: block;
    padding: 0 0.5em 0 0;
}
code {
    padding: 0.5em;
    line-height: 1.3em;
}
p code,
li code {
    display: inline-block;
    white-space: no-wrap;
    color: #555;
    font-size: 80%;  /* change the code font size */
}

/* Fix codecaption and the new Chroma highlighter */

div.highlight > pre > code,
pre > code
{
    overflow-y: hidden;
    display: block;
}

td > div.highlight > pre > code,
div.linenodiv > pre > code
{
    overflow: scroll;
    overflow-y: hidden;
    display: inline;
}

/* End fix codecaption and the new Chroma highlighter */

pre::-webkit-scrollbar,
.highlighttable::-webkit-scrollbar,
.gist-highlighttable::-webkit-scrollbar {
    height: .5em;
    background: rgba(255, 255, 255, 0.15)
}
pre::-webkit-scrollbar-thumb:horizontal,
.highlighttable::-webkit-scrollbar-thumb:horizontal,
.gist-highlighttable::-webkit-scrollbar-thumb:horizontal {
    background: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 4px;
    border-radius: 4px
}
figure.code {
    background: none;
    padding: 0;
    border: 0;
    margin-bottom: 0.8em
}
figure.code pre {
    margin-bottom: 0
}
figure.code figcaption {
    position: relative
}
figure.code .highlighttable {
    margin-bottom: 0;
    table-layout: fixed;
    width: 100%;
}
.code-title,
h3.filename,
figure.code figcaption { /* figcaption changes */
    text-align: center;
    line-height: 2em;
    text-shadow: #cbcccc 0 1px 0;
    color: #474747;
    font-weight: normal;
    margin-bottom: 0;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #aaa top repeat-x;
    border: 1px solid #565656;
    border-top-color: #cbcbcb;
    border-left-color: #a5a5a5;
    border-right-color: #a5a5a5;
    border-bottom: 0;
    font-size: 90%; /* change size of font in figcaption */
}
.download-source,
figure.code figcaption a {
    position: absolute;
    right: .8em;
    text-decoration: none;
    color: #666 !important;
    z-index: 1;
    font-size: 13px;
    text-shadow: #cbcccc 0 1px 0;
    padding-left: 3em
}
.download-source:hover,
figure.code figcaption a:hover {
    text-decoration: underline
}

.terms {
  margin: -.25rem;
}

.terms li {
  display: inline-block;
}

.terms a {
  display: block;
  float: left;
  background-color: #333;
  border-radius: 4px;
  color: #fff;
  font-size: 0.7rem;
  margin: .25rem;
  padding: 0 1rem;
  line-height: 1.75rem;
}

@media (max-width: 768px) {
	#content {
		margin-bottom: 0;
		margin-left: 0;
		min-width: 100%;
	}

	#contain, #footer-container {
		margin: 0 auto;
		width: 100%;
	}

	#sidebar {
		float: none;
		margin: 0 0 0;
		width: 100%;
	}
}

